/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

header {
  background-color: var(--destaque);
  margin: 8px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header > nav > ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

header > nav > ul > li > a {
  color: var(--texto-inverso);
  margin-right: 10px;
  padding: 10px 10px;
}

header > nav > ul > li > a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  border-radius: 8px;
}